
#rab
  - site = 'runabook.co.uk'
  - text = "Start a betting school"
  - title = "Bet among your friends in points on ANY event - NO money taken"
  %i.icon-white.icon-flag
  = link_to text, "http://#{site}/", title: title, class: "italic"
