
#splash
  %br
  .hero-unit.hero-unit-spacing
    %h3
      Lost for the Precise Word?
    %h6
      %em.small-font
        (Or should that be apposite, appropriate, accurate, apt,
        correct, exact, ideal, proper, perfect,
        relevant, right, suitable, etc?)
    %p
      A thesaurus containing almost 200,000 Engish
      words, names and phrases,
      and among these it holds over 3.2 million associations.
    %p
      It has such an extensive vocabulary because
      it is compiled from three sources,
      two of which are Roget and the other is WordNet.
    %p
      It provides a five degree classification for each 
      two-way word association that indicates the similarity
      in meaning between both words.
    %p
      It lets you cross reference a selected word to show
      the reverse side of its associations, that is,
      the words that have the selected word as a synonym.
      Additionally for a selected word, it shows phrases
      in which the word occurs,
      as well as listing words opposite in meaning.
    %p
      %ul.list-unstyled.fs-1
        %li
          %small
            Keeps a record of the words submitted during use,
            allowing their reselection and removal.
        %li
          %small
            Filters the results by grammatical label (noun, verb, etc.).
        %li
          %small
            Provides a
            %i weighting
            for the words which gives a percentage of how often
            a word appears in comparison with all of the others.
    %p
      %figure.text-center
        %small.italic
          %blockquote.blockquote
            %p.text-muted
              There is also an alterntaive interface in which you supply your
              own text, and inside this you can easily swap an individual word
              for another picked out from various lists.
              See the link to
              %b.text-primary Semantic Text Editor
              towards the top left corner.

