
#splash
  %br
  .hero-unit.hero-unit-spacing
    %h2 Lost for the Precise Word?
    %h6
      %em.small-font
        (Or should that be apposite, appropriate, accurate, apt,
        correct, exact, ideal, proper, perfect,
        relevant, right, suitable, etc?)
    %p
      A thesaurus containing almost 200 thousand Engish words and
      phrases (including proper names),
      which holds over 3.2 million two-way word associations.
    %p
      Provides a five degree classification for each 
      word association that indicates its proximity in meaning.
    %p
      Lets you cross reference a selected word to show the other side
      of its associations, and, for single words, shows the phrases
      in which the selected word is included.
    %p
      Filters most common words by grammatical label,
      e.g. a noun or verb.
    %p
      Keeps a small list of the words selected during a session,
      and allows the removal of the word suggestions -
      which is important since the lists can get very long.
      %br
