
#splash
  %br
  .hero-unit.hero-unit-spacing
    %h3
      Lost for the Precise Word?
    %h6
      %em.small-font
        (Or should that be apposite, appropriate, accurate, apt,
        correct, exact, ideal, proper, perfect,
        relevant, right, suitable, etc?)
    %p
      A thesaurus containing almost 200,000 Engish
      words names, and phrases,
      which holds over 3.2 million two-way word associations.
      It has one of the largest vocabularies because,
      (unlike most others),
      it is compiled from three sources,
      two of which are Roget and WordNet.
    %p
      Provides a five degree classification for each 
      word association that indicates its proximity in meaning.
    %p
      Lets you cross reference a selected word to show the other side
      of its associations, and, for single words, shows the phrases
      in which the selected word is included.
    %p
      Keeps a small list of the words selected during a session,
      allows the removal of the word suggestions,
      and it filters the results by grammatical label (noun or verb).
    %p
      There is also a alternative interface where you supply your
      own text for direct amendment.
      Click the top left link:
      %i Semantic Text Editor.
      %br
